<!-- pug: https://pugjs.org -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Fuji Order Input!</title>
    <meta name="description" content="Order Input screen for Fuji INBOUND">
    <link id="favicon" rel="icon" href="favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/handsontable.full.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      h1 Fuji Quick Order Entry <u>Inbound</u> #{environment}
    </header>
    <main>
      <form id="oi" action="/data" method="post">
        <table>
          <tr>
            <td class=minicol><label>Customer:</label></td>
            <td><input /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Customer</td>
            <td><input /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Description</td>
            <td><input /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Cost center</td>
            <td><input /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Operation Type</td>
            <td><input /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Operation</td>
            <td>
              <select id="order-opcode" name="order-opcode">
                <option value="DC" selected>Discharge ex-truck</option>
                <option value="DCCT">Discharge ex-container</option>
                <option value="DCWGN">Discharge ex-wagon</option>
              </select>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Inbound Order Type</td>
            <td><input /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Planned Date</td>
            <td><input /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Ship-from</td>
            <td><input /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Create transport</td>
            <td><input type="checkbox" id="tpt-create" name="tpt-create"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Container number</td>
            <td><input /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Seal Number</td>
            <td><input /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><input type="hidden" id="order-custcode" name="order-custcode" maxlength="100" value="FUJI" placeholder="Fuji"></td>
            <td><input type="hidden" id="order-costcenter" name="order-costcenter" maxlength="100" value="O-VMROKALLO" placeholder="O-VMROKALLO"></td>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
          </tr>
          <tr>
            <td><label>Operation:
            <td><label>Planned Date:<sup>*</sup><input type="text" id="order-planneddate" id="order-planneddate" name="order-planneddate" maxlength="100"></label></td>
            <td><label>Fuji Order:<sup>*</sup><input type="text" id="order-extid" name="order-extid" maxlength="100" value="TBRNEWTEST" placeholder="REQUIRED"></label></td>
            <td><label>Create Transport:<input type="checkbox" id="tpt-create" name="tpt-create"></label></td>
          </tr>
          <tr>
            <td><label>Transport Company:<sup> </sup><input type="text" id="tpt-company" name="tpt-company" maxlength="100"></label></td>
            <td><label>Lot:<sup>*</sup><input type="text" id="order-lot" name="order-lot" maxlength="100"></label></td>
            <td><label>Public Id:<sup>*</sup><input type="text" id="tpt-lictruck" name="tpt-lictruck" maxlength="100" value="LICTRUCK"></label></td>
            <!-- <td><label>Lic. Plate Truck / Wagon no. / Container no.:<input type="text" id="tpt-lictruck" name="tpt-lictruck" maxlength="100" value="LICTRUCK"></label></td> -->
            <td><label>Lic. Plate Trailer:<sup> </sup><input type="text" id="tpt-lictrail" name="tpt-lictrail" maxlength="100"></label></td>
            <td><label>Seq:<sup>*</sup><input type="text" id="oi-sequence" name="oi-sequence" value=""></label></td>
            <td><div class="extid" id="orderItemExternalId"></div></td>
            <td><div class="extid" id="transportReference"></div></td>
          </tr>
          <tr><td colspan=4><a id="grossfromnet" class="actionlink" href="">Gross from Net</a></td></tr>
        </table>
        <br/>
        <div id="packinglist" name="packinglist"></div>
        <br/>
        <button type="submit">Submit</button>&nbsp;&nbsp;
        <a id="retrieve" class="actionlink" href="">Get Data</a>
        <a id="save" class="actionlink" href="">Save Data</a>
        <a id="addrows" class="actionlink" href="">Add Rows</a>
        <a id="retrievemax" class="actionlink" href="" hidden>Get Data for Highest Sequence</a>
      </form>
      <div id="busyindicator" style="display:none">Sending request. Please wait...</div>
      <div id="serverresponse" ></div>
    </main>

    <footer>
      <a target="_blank" href="http://www.ionlogistics.eu"> Copyright iOnLogistics</a>&nbsp;&nbsp;
      <a id="testlink" href="">Test</a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/handsontable.full.js"></script>
    <script src="/async.min.js"></script>
    <script src="/util.js"></script>
    <script src="/client.js"></script>
    <script src="/contval.js"></script>

  </body>
</html>
